{% extends "base.html" %}
{% block content %}
	
	<div class="container adjust-margin">
		<div class="jumbotron">
			<h1>{{ user_info.first_name|lower }}</h1>
			{% if your_friends %}
				<button type="button" class="btn btn-med btn-danger"><span class="fa fa-minus"></span> remove friend</button>
			{% else %}
				<button type="button" class="btn btn-med btn-success"><span class="fa fa-plus"></span> add friend</button>
			{% endif %}
		</div>


		<div class="row">

			<div class="col-sm-5">
		        <div class="panel panel-default">
		          <div class="panel-heading"><span class="fa fa-check-circle-o"></span> {{ reps }} rep point{{ reps|pluralize }}</div>
		          <ul class="list-group">
		            {% for recent_rep in recent_reps %}
		              <li class="list-group-item">
		                {{ recent_rep.getPoints }} rep{{ recent_rep.getPoints|pluralize }} with {{ recent_rep.number|pluralize:"a,some"}} 
		                {{ recent_rep.activity.name }}{{ recent_rep.number|pluralize }}
		                <br />
		                <small class="extra-small pull-right">{{ recent_rep.time|date:"M. jS, Y (g:i a)" }}</small>
		                <br />
		              </li>
		            {% empty %}
		              <li class="list-group-item list-group-item-danger">No activities as of yet.</li>
		            {% endfor %}
		          </ul>
		        </div>
		    </div>


		    <div class="col-sm-7">
		        <div class="panel panel-default">
		          <div class="panel-heading"><span class="fa fa-user"></span> {{ friends|length }} friends
		          </div>
		          <ul class="list-group">
		            {% for friend in friends %}
		              <li class="list-group-item">{{ friend.first_name }}</li>
		            {% empty %}
		              <li class="list-group-item list-group-item-info">No friends currently, maybe you should add me.</li>
		            {% endfor %}
		          </ul>
		        </div>
		    </div>


		</div>


	</div>

	

{% endblock %}